@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
:root{
    padding: 0%;
    margin: 0%;
    border: 0;
}
body{
    background:linear-gradient(135deg,#f1d3c1,#f6c4a7);
    font-family: 'Rubik', sans-serif;
    height: 100vh;
    width: 100vw;
}
main{
     display: flex;
  flex-direction: column;
  gap: 30px;
  box-sizing: border-box;
  padding: 20px;

}
h1{
    font-size: 3.5em;
    font-weight: 700;
    text-align: center;
    margin: 5px;
    color: #1C352D;

    text-shadow: 
    2px 2px 0 #A6B28B,   /* ظل أول */
    4px 4px 0 #A6B28B;   
}
.headerbtn{
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: end;
    margin-right: 50px;
     margin-left: 20px;
}
svg{
    height: 45px;
    width: 45px;
    margin:1px;
    cursor: pointer;
    color: #244339;
    align-self: center;
}
button {
    
   padding: 5px 2.5px;
    border: none;
    border-radius: 4px;
    background-color:#1C352D;
    color: #F9F6F3;
    font-weight: bold;
    margin: 5px;
    transition: transform 0.1s ease;
    cursor: pointer;
    box-shadow:  
    2px 2px 0 #A6B28B,   /* ظل أول */
    4px 4px 0 #A6B28B;
}
button:active {
  transform: scale(0.l); 
}
#theme{
    margin-right: auto;
}
.mainpage{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.login{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
     justify-content: center;
    align-items: center;
}
.playersinfo{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
}
form{
    width: minmax(200px,70%);
    width: minmax(400px,70%);
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 5px;
    background-color: #A6B28B;
    border: none;
    border-radius: 5px;
    font-size: 1.3em;
    padding: 25px;
    color: #1C352D;
    font-weight: 400;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.2);
    /* margin-top: 100px; */
}
input{
    padding: 8px;
    border: none;
    border-radius: 4px;
    background: #fff3e6be;
    color: #1C352D;
    font-size:1em;
    outline: none;
    cursor: pointer;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 5px;
    margin-left: 5px;
}
label{
    font-weight: 500;
}
select{
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    background: #fff3e6e0;
    color: #1C352D;
    font-size:0.8em;
    font-weight: 700;
    outline: none;
    cursor: pointer;
    margin-bottom: 10px;
    margin-right: 8px;
    margin-left: 11px; 
}

#submitplayerinfo{
    padding: 15px 10px;
    border: none;
    border-radius: 4px;
    background-color:#1C352D;
    color: #F9F6F3;
    font-weight: bold;
    margin: 5px;
    transition: transform 0.1s ease;
    cursor: pointer;
}
#submitplayerinfo:active {
    transform: scale(0.l); 
}
.gamecontainer{
    display:flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-left: 70px;
}
.gameboard {
    flex: 1;
    display: grid;

    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 0; /* بدون فراغ بين الخلايا */
    /* margin-left: 200px; */
    justify-content: center;
    /* margin-left: 240px; */
     
}

.box {
    border: 2px solid #244339; /* الخطوط بين المربعات */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px; /* حجم الحرف الكبير */
    font-weight: bold;
    color: #244339; /* لون X و O */
    background-color: #a6b28b67; /* بدون خلفية */
    cursor: pointer;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.2);

   
}
.box:hover{
    background-color:#a6b28b ;
}
button svg {
    fill:antiquewhite; /* يخلي لون الخطوط داخل الـ SVG أحمر */
    
}
.everything{
    
   padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.messages{   
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    align-items: center;
    /* margin-left: 66px; */
}

.messages>div{
    width: 100px;
    height: 40px;
    padding: 10px;
    margin: 5px;
    text-align: center;
    border: none;
    border-radius: 5px;
    background-color: #244339;
    color: #F9F6F3;
}
h4,p{
    font-weight: 500;
    color: #F9F6F3;
    text-align: center;
    font-size: 15px;
    margin: 2px;
   
}